ErrorDocument 404 /pages/404.php
<FilesMatch "\.(ttf|otf|eot|woff|php)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SERVER_PORT} 80
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /tpe
RewriteCond %{REQUEST_FILENAME} !-f

#Error404
RewriteRule ^erreur/404 /pages/404.php [L]

#Sitemap
RewriteRule ^sitemap.xml /pages/sitemap.php [L]

#Robots
RewriteRule ^robots.txt /pages/robots.php [L]

#Landing
RewriteRule ^under-construction$ landing/under_construction.html [L]

#Pages
RewriteRule ^home$ pages/home.php [L]
RewriteRule ^login$ pages/login.php [L]
RewriteRule ^register$ pages/register.php [L]
RewriteRule ^profile$ pages/profile.php [L]
RewriteRule ^speech$ pages/main.php [L]







RewriteRule ^actualites$ /pages/news.php [L]
RewriteRule ^actualite/([^/]*)$ /pages/actualite.php?slug=$1 [L]
RewriteRule ^categorie/([^/]*)/([0-9]*)$ /pages/categorie.php?slug=$1&page=$2 [L]
RewriteRule ^article/([^/]*)/([^/]*)$ /pages/article.php?category=$1&slug=$2 [L]
RewriteRule ^profil/([^/]*)$ /pages/profile.php?username=$1 [L]

#Admin
RewriteRule ^admin/login$ /admin/login.php [L]
RewriteRule ^admin/logout$ /admin/pages/logout.php [L]
RewriteRule ^admin/secure/première-connexion$ /admin/pages/changepassword.php?f_connect=true [L]
RewriteRule ^admin/secure/nouveau-mot-de-passe/([a-zA-Z0-9]*)$ /admin/pages/changepassword.php?token=$1 [L]
RewriteRule ^admin/secure/mot-de-passe-perdu$ /admin/pages/lostpassword.php [L]

#ACCESS LEVEL 1
RewriteRule ^admin/dashboard$ /admin/pages/dashboard.php [L]
RewriteRule ^admin/profil$ /admin/pages/profile.php [L]
RewriteRule ^admin/actualites/ajouter$ /admin/pages/addnews.php [L]
RewriteRule ^admin/actualites/liste$ /admin/pages/listnews.php [L]
RewriteRule ^admin/actualites/editer/([^/]*)$ /admin/pages/editnews.php?slug=$1 [L]
RewriteRule ^admin/categories/liste$ /admin/pages/categories.php [L]
RewriteRule ^admin/categories/ajouter$ /admin/pages/addcategory.php [L]
RewriteRule ^admin/categorie/editer/([^/]*)$ /admin/pages/editcategory.php?slug=$1 [L]

#ACCESS LEVEL 2


#ACCESS LEVEL 3
RewriteRule ^admin/utilisateurs/liste$ /admin/pages/users.php [L]
RewriteRule ^admin/utilisateurs/ajouter$ /admin/pages/users_add.php [L]
RewriteRule ^admin/utilisateurs/editer/([^/]*)$ /admin/pages/edituser.php?username=$1 [L]
RewriteRule ^admin/equipe$ /admin/pages/team.php [L]
RewriteRule ^admin/controle$ /admin/pages/approval.php [L]
RewriteRule ^admin/controle/verif/([^/]*)$ /admin/pages/verify.php?slug=$1&type=new [L]
RewriteRule ^admin/controle/reverif/([^/]*)$ /admin/pages/verify.php?slug=$1&type=update [L]
RewriteRule ^admin/controle/categorie/([^/]*)$ /admin/pages/verifycategory.php?slug=$1 [L]
RewriteRule ^admin/navigation/liste$ /admin/pages/navigation.php [L]
RewriteRule ^admin/navigation/ajouter$ /admin/pages/addnav.php [L]
RewriteRule ^admin/navigation/editer/([0-9]*)$ /admin/pages/editnav.php?id=$1 [L]
RewriteRule ^admin/maintenance$ /admin/pages/maintenance.php [L]

#ACCESS LEVEL 4
RewriteRule ^admin/configuration$ /admin/pages/config.php [L]


</IfModule>